*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
color:blueviolet;
}
.mani{
    height: 100vh;
    position:relative;
}
.mani::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
   height: 100%;
   width: 100%;
   background-image: url("../conclusion.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   opacity: 0.6;
}
p{
    color:indianred;
}